/*Source Sans 3*/
@font-face {
	font-display: swap;
	font-family: 'Source Sans 3';
	font-style: normal;
	font-weight: 400;
	src: url('/documents/d/marketplace/sourcesans3-regular-ttf');
}

.child-menu.dropdown-menu {
	border-radius: 8px !important;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1);
	padding: 0px !important;
	transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card.main-image {
	border-radius: 10px !important;
}

.lfr-layout-structure-item-com-liferay-portal-search-web-category-facet-portlet-categoryfacetportlet,
.lfr-layout-structure-item-com-liferay-commerce-product-content-search-web-internal-portlet-cpspecificationoptionfacetsportlet {
	border-radius: 10px;
}

.lfr-nav-item.nav-item {
	border-radius: 8px;
	margin-right: 0.5rem;
	transition: all 0.3s ease-in-out;
}

.lfr-nav-item.nav-item .nav-link {
	border-bottom: transparent solid 3px !important;
}

.lfr-nav-item.nav-item:hover {
	background-color: #ffffff !important;
	font-weight: none !important;
	transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.lfr-nav-item.nav-item.dropdown:has(.child-menu.dropdown-menu .active.selected)
	.nav-link {
	border-bottom: #004ad7 solid 3px !important;
	color: #0053f0 !important;
	font-weight: 600;
}

.lfr-nav-item.nav-item.selected.active .nav-link {
	border-bottom: #004ad7 solid 3px !important;
	color: #0053f0 !important;
	font-weight: 600;
}

.product-gallery .arrow.next {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.product-gallery .arrow.prev {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
