.square-black {
	background-color: $blackPlayerBackgroundColor;
	border: 1px solid;
	height: 50px;
	width: 50px;
}

.square-white {
	background-color: $whitePlayerBackgroundColor;
	border: 1px solid;
	height: 50px;
	width: 50px;
}
