// ---------- Colors ----------

$blackPlayerBackgroundColor: #50ae1c;
$blackPlayerBackgroundColorPreviouslySelected: #96a005;
$blackPlayerBackgroundColorSelected: #204f06;
$whitePlayerBackgroundColor: #eee;
$whitePlayerBackgroundColorPreviouslySelected: #f1d20a;
$whitePlayerBackgroundColorSelected: #7a7a7a;
