.cp-project-usage-page {
	.d-grid {
		grid-gap: var(--spacer-3);
		grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
	}

	.empty-text {
		background-color: var(--color-brand-primary-lighten-3);
		border-radius: var(--border-radius-sm);
		height: var(--btn-lg-line-height);
	}

	.fade-panel {
		background: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.3),
			rgba(255, 255, 255, 0.5) 70%,
			rgba(255, 255, 255, 1) 90%
		);
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: 10;
	}
}
