[#if configuration.type == "action"]
	<button class="btn btn-${configuration.buttonSize} btn-${configuration.buttonType} object-action-trigger" data-lfr-editable-id="object-action" data-lfr-editable-type="object-action">
		Go Somewhere
	</button>

	[#else]
		<div class="component-button text-break">
			<a class="btn btn-${configuration.buttonSize} btn-${configuration.buttonType}" data-lfr-editable-id="link" data-lfr-editable-type="link" href="" id="fragment-${fragmentEntryLinkNamespace}-link">
				Go Somewhere
			</a>
		</div>
[/#if]