[#if configuration.objectAction]
	<button class="btn btn-${configuration.buttonSize} btn-${configuration.buttonType} object-action-trigger" data-action-url="http://localhost:8080/o/c/mycompanyobjects/by-external-reference-code/string/object-actions/myAction" data-callback-type="toast" data-lfr-editable-id="object-action" data-lfr-editable-type="object-action">
		Trigger Action
	</button>

	[#else]
		<div class="component-button text-break">
			<a class="btn btn-${configuration.buttonSize} btn-${configuration.buttonType}" data-lfr-editable-id="link" data-lfr-editable-type="link" href="" id="fragment-${fragmentEntryLinkNamespace}-link">
				Go Somewhere
			</a>
		</div>
[/#if]