.empty-drop-zone-target {
	background-color: $secondaryHover;
	border: 2px dashed $mainLighten52;
	border-radius: 4px;
	color: $secondary;
	height: 136px;

	&.dnd-hover {
		background-color: $primaryLighten45;
		border: 2px solid $primaryLighten23;
		color: $primary;
	}

	&.enable-sequential-segment {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	.empty-drop-zone-message {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		height: 136px;
		justify-content: center;
	}
}
