@import 'cadmin-variables';
@import 'cms-variables';

body {
	#wrapper {
		&:has(.cms__back-button-management-bar) {
			margin-top: $backButtonManagementBarHeight;
		}

		.cms__back-button-management-bar {
			left: 0;
			top: var(--control-menu-container-height);
			transition: padding-left ease 0.5s;
			width: 100%;
			z-index: 1;
		}
	}

	&.product-menu-open #wrapper .cms__back-button-management-bar {
		padding-left: $productMenuWidth;
	}
}
